body {
	width: 720px;
	padding: 54px;
	border-left: solid 2px #dddddd; 
	font-family: Lato;
	border-width: 2px;
	text-align: left;
}

#title {
	color:red;
	font-weight: lighter;
	font-size: 40px;
	margin-bottom: 2px;
}


#sub-title{
	color: black;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 0px;
}
header{
	margin-bottom: 40px;
}

 header nav a {
	color: #dddddd;
	hover: #oooooo;
	font-size: 14px;

}


a: link {
	color: #DD0000;
}

a:hover {
    color: black;
}

article a {
	color:red;
	text-decoration: none;
}
img {
	display: block;
    margin: 10px 0;
    max-width: 100%;
}


.article-title {
	color: #444444;
	font-size: 18px;
	margin-top: 0px;
}

.article-date {
	color: #cccccc;
	font-size: 18px;
	margin-bottom: 0px;
}
main article {
	border-bottom: solid 2px #bbbbbb;
}
.more{
	font: 12px bolder;
	text-align: right;
	color: red;
}
footer a {
	font-size: 12px;
	color:red;
	border-right: solid 1px #dddddd;
	padding: 0px 5px 0px 5px;
	text-decoration: none; 
}
.copyright {
	color: #bbbbbb;
	font-size: 12px;
}
